.mis_popup{
    cursor: pointer;
}


/* HIDDEN */

#mis_overlay,
.mis_popup.mis_is-cloned{
    visibility: hidden;
    z-index: -500;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 125ms ease-out;
    -moz-transition: opacity 125ms ease-out;
    -o-transition: opacity 125ms ease-out;
    transition: opacity 125ms ease-out;
}

#mis_overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
}

.mis_popup.mis_is-cloned{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96%;
    max-width: 1280px;
}

/* VISIBLE */

#mis_overlay.s-is-visible,
.mis_popup.mis_is-cloned.s-is-visible{
    visibility: visible;
    z-index: 500;
    opacity: 1;
    pointer-events: auto;
}

.mis_popup.mis_is-cloned.s-is-visible{
    z-index: 550;
}