@media all and (min-width: $beta_query) {

  .wfl{
    #wfl-test{
      visibility: hidden;
      opacity: 0;
      transform: translate3d($leading*4,0,0);
      transition: all 0.25s ease-in-out;
    }

    .example-2{
      transform: translate3d($leading/20,0,0);
      transition: 0.55s ease-in-out;
    }

    &.wf-active,
    &.wf-inactive{

      #wfl-test{
        visibility: visible !important;
        opacity: 1 !important;
        transform: translate3d(0,0,0);
      }

      .example-2{
        transform: translate3d(0,0,0);
      }
    }
  }
}

.wf-inactive{
  .a-xlarge,
  .a-large,
  .a-medium,
  .a-small{
    // adjustments
  }
}